{% extends "base.html" %}
{% block content %}

<h2>{{page_title}}</h2>
<hr>
{% for job in roles.jobs %}
<br>
<h3>{{job.position}}</h3>
<span>
    <h5>{{job.title}}</h5>
    <p class="text-align-right inline-block">${{job.salaryRange.from}} - ${{job.salaryRange.to}}</p>
</span>
<p><strong>Company Website:</strong> {{job.url}}</p>
<p><strong>Role type:</strong> {{job.type}}</p>
<p><strong>Location:</strong> {{job.location}}</p>
<p><strong>Date Posted:</strong> {{job.posted}}</p>
<p><strong>Required Skills:</strong> {{job.skills[0]}}, {{job.skills[1]}}, {{job.skills[2]}}</p>
<p><strong>Required Skills:</strong> {{job.skills[0]}}, {{job.skills[1]}}, {{job.skills[2]}}</p>
<br>
<h6>Description</h6>
<p>{{job.description}}</p>
<p><strong>Incentives include:</strong><br>
    job equity from:{{job.equity.from}} to {{job.equity.to}} <br>
    Perks: {{job.perks[0]}}, {{job.perks[1]}}
</p>
<button>Apply</button>
<hr>
{% endfor %}
{% endblock %}

{{console.log(roles)}}